<h2>Create Blog</h2>
<div class="container">
<div class="blog-details">
    <%= render 'form' %>
  
</div>

<div class="blog-links">
     <%= link_to 'Back Index', blogs_path, class: 'btn btn-default' %>
 </div>
</div>
