<h1>Blog Menu</h1>

<div class="container">
  <div class="row">
　<p class="resizeimage">

           <%= image_tag 'PAK85_Blogcc20141206203244_TP_V.jpg' %>

　</p>
  </div>
    <div class="col-xs-12">
      <p>テキストの記録・参照・編集を行います<br>
    <%= link_to 'Index', blogs_path, class: 'btn btn-default' %>
      </p>
    </div>
  </div>
</div>